<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.pap.plugin.basedoc.position.dao.PositionMapper">

	<select id="queryList" resultType="com.yonyou.iuap.pap.plugin.basedoc.position.entity.Position">
		SELECT  t.id,
        	    t.code,
              	t.name,
              	t.innercode,
             	t.org_id,
              	t.dept_id,
              	t.establishdate,
              	t.tenantid,
              	t.sysid,
              	t.enable,
              	t.creator,
              	t.creationtime,
              	t.ts,
              	t.dr
      	FROM  bd_position t
		WHERE 1=1
			<if test="condition!=null">
				<if test="condition.code!=null and condition.code!=''">
					and t.code = #{condition.code, jdbcType=VARCHAR}
				</if>
			</if>
	</select>
	
	<select id="queryListMap" resultType="java.util.LinkedHashMap">
	    SELECT  t.id as "id",
              	t.code as "code",
                t.name as "name",
                t.innercode as "innercode",
              	t.org_id as "org_id",
              	tn.code as "orgCode",
                t.dept_id as "dept_id",
                td.code as "deptCode",
                t.establishdate as "establishdate",
                t.tenantid as "tenantid",
                t.sysid as "sysid",
                t.enable as "enable",
                t.creator as "creator",
                t.creationtime as "creationtime",
                t.ts as "ts",
                t.dr as "dr"
        FROM  bd_position t INNER JOIN org_department td ON t.dept_id=td.id
                            INNER JOIN org_organization tn ON t.org_id=tn.id
    	WHERE 1=1
			<if test="condition!=null">
				<if test="condition.code!=null and condition.code!=''">
					and t.code = #{condition.code, jdbcType=VARCHAR}
				</if>
			</if>
	</select>

</mapper>