<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.pap.plugin.basedoc.staff.dao.MainJobInfoMapper">

	<select id="queryList" resultType="com.yonyou.iuap.pap.plugin.basedoc.staff.entity.MainJobInfo">
        SELECT  t.id,
                t.code,
                t.name,
                t.parentid,
                t.innercode,
                t.staffid,
                t.orgid,
                t.deptid,
                t.psnlcatgid,
                t.dutyid,
                t.positionid,
                t.rankid,
                t.mainjob,
                t.startservetime,
                t.endservetime,
                t.enable,
                t.tenantid,
                t.sysid,
                t.creator,
                t.creationtime,
                t.modifier,
                t.modifiedtime,
                t.ts,
                t.dr
		FROM  bd_main_job t
		WHERE 1=1
			<if test="condition!=null">
				<if test="condition.code!=null and condition.code!=''">
					and t.code = #{condition.code, jdbcType=VARCHAR}
				</if>
			</if>	
	</select>

</mapper>